.contacto__imagen{
    width: 40%;
}
.contacto__box__imagen{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 425px) {
    .contacto__imagen{
        display: none;
    }
    
}