.menu__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5rem;
    gap: 2rem;
}
.menu__imagenheader{
    width: 50%;
    height: 70%;
    
}
.menu__nombre{
    flex: none;
    font-size: 1.5rem;
    font-family:roboto;
    font-weight: 300;
    font-style: italic;
    color: #060674;
}

