.presentacion__imagen {
    position: absolute;
    width: 200px;
    height: 200px;
    margin-right: 5rem;
    margin-left: 6rem;
    border-radius: 100px;
    box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 1);


}