.sobre__mi__parrafo{
      text-align:justify;
      text-indent: 4rem;
      

}
.sobre__mi__parrafo1{
    padding: 1rem;
    margin: 1rem;
    
    
    
}
.sobre__mi__parrafo2{
    padding: 1rem;
    margin: -2rem 1rem -1rem;
}
