.presentacion__informacion{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: roboto, sans-serif;
    font-weight: 300;
    color: #060674;
    
     
}
@media screen and (max-width: 425px){
    .presentacion__informacion{
        flex-direction: column;
        align-items: baseline;

    }
}